In [7]:
x=22

In [10]:
if x>10 :
  print ("x is greater than 10")

x is greater than 10

In [16]:
x=20
if x>10 :
 print("x greater than 10")
if x<10 :
 print("x less than 10")

x greater than 10

In [29]:
x==10
if x>10 :
  print("x grater than 10")
if x<=10 :
  print("x less than 10")
if x==10 :
  print("x is equal to 10")

x less than 10
x is equal to 10

In [36]:
x=int(input("enter the mark"))
if x>=40 :
  print("pass")
if x<40 :
  print("fail")

enter the mark55
pass

In [37]:
x=int(input("enter your salary"))
if x>=250000 :
  print("taxable")
  print(x*10/100)
if x<250000 :
  print("no tax")

enter your salary300000
taxable
30000.0